# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env/

# Environment Variables
.env
.env.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
coverage/

# Uploads
uploads/
server/uploads/
client/dist/
